<!-- Native ngfor sugared usage, along with context variable -->
<!-- <div
  *ngFor="let item of basicDetails; let i=index; let individual=$implicit;count as totalCount; first as first; last as last; even as even; trackBy: trackByAge">
  <p>Complete Object : {{individual | json}}</p>
  <p>Index : {{i+1}}</p>
  <p>Name : {{item.firstName}} {{item.lastName}}</p>
  <span>Age : {{item.age}}</span>
  <p>Total No. of Items : {{totalCount}}</p>
  <p>{{even ? 'even': 'odd'}}</p>
  <p>{{first ? 'first': ''}}</p>
  <p>{{last ? 'last': ''}}</p>
  <hr />
</div> -->


<!-- Native ngfor desugared usage, along with context variable -->
<!-- <ng-template ngFor let-item [ngForOf]="basicDetails" let-i="index" let-individual="$implicit" let-totalCount="count"
  let-first="first" let-last="last" let-even="even" [ngForTrackBy]="trackByAge">
  <div>
    <p>Complete Object : {{individual | json}}</p>
    <p>Index : {{i+1}}</p>
    <p>Name : {{item.firstName}} {{item.lastName}}</p>
    <span>Age : {{item.age}}</span>
    <p>Total No. of Items : {{totalCount}}</p>
    <p>{{even ? 'even': 'odd'}}</p>
    <p>{{first ? 'first': ''}}</p>
    <p>{{last ? 'last': ''}}</p>
    <hr />
  </div>
</ng-template> -->

<ng-template [myFor]="basicDetails" let-item let-i="index">
  <div>
    <p>{{i}}</p>
    <p>Name : {{item.firstName}} {{item.lastName}}</p>
    <span>Age : {{item.age}}</span>
    <hr />
  </div>
</ng-template>